.container {
  width: 1200px;
  padding: 0 5px;
}

.container-two {
  width: 1295px;
  margin: 0 auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  min-height: 100vh;
}


.site-header {
  margin-top: 8px;
  padding: 0 63px;
}

.header-locat {
  justify-content: right;
  align-items: center;
  font-size: 10px;
  line-height: 15px;
  font-weight: 400;
  color: #1a1a1a;
}

.header-locat-before::before {
  content: '';
  width: 15px;
  height: 15px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

.header-locatsiya::before {
  background-image: url('../images/locatsiya-img.svg');
}

.header-tel-link {
  text-decoration: none;
  color: #1a1a1a;
  margin-left: 100px;
}

.header-tel-link::before {
  background-image: url('../images/phone-call\ -img.svg');
}

.header-main {
  background: linear-gradient(90.05deg, #E47500 -5.66%, #DF7C14 115.63%);
  align-items: center;
  padding: 16px 63px;
}

.header-logo {
  width: 71px;
  height: 39px;
}

.header-nav {
  display: flex;
  justify-content: right;
  align-items: center;
}

.header-list {
  list-style-type: none;
  align-items: center;
}

.header-item:hover::before {
  content: '';
  width: 11px;
  height: 11px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
}

.header-list a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
}

.header-item {
  margin-left: 40px;
  margin-right: 40px;
}

.header-item-btn {
  background-color: #fff;
  border-radius: 6px;
  padding: 10px 27px;
  font-size: 13px;
  line-height: 19px;
  color: #dF7C14;
  margin-left: 40px;

}

.header-item-btn a {
  color: #dF7C14;
}


/* HERO PART  */


.site-hero {
  background-image: url('../images/vector-beckround.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.hero-part {
  background-image: url('../images/linya-backround.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.hero-main {
  padding-right: 5px;
  margin-top: 128px;
}

.hero-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 31px;
  color: #e87d0e;
}

.hero-subtitle {
  font-weight: 700;
  font-size: 50px;
  line-height: 77px;
  color: #000;
  margin-top: 17px;
}

.hero-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #000;
  margin-top: 26px;
}

.hero-link {
  margin-top: 50px;
}

.hero-link-btn {
  text-decoration: none;
  background: linear-gradient(92.48deg, #FA8305 2.08%, #FB9E3C 117.25%);
  border-radius: 40px;
  padding: 15px 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-top: 50px;
}

.hero-img {
  width: 675px;
  height: 590px;
  margin-top: 102px;
  margin-bottom: 106px;
}

/* MAIN PART  */

/* LOREM IPSUM PART  */

.main-lorem-title {
  width: 826px;
  font-weight: 600;
  font-size: 25px;
  line-height: 46px;
  color: #222;
  margin: auto;
  text-align: center;
}

.main-lorem-subtitle {
  font-weight: 600;
  font-size: 30px;
  line-height: 56px;
  color: #222;
  margin-top: 49px;
}

.main-lorem-text {
  line-height: 30px;
  color: #525252;
  margin-top: 32px;
}

.main-lorem-img {
  background-image: url('../images/lorem-backround.png');
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 10px;
  width: 1020px;
  margin-top: 46px;
}

/* LOREM IPSUM PART END */

/* MAIN IPSUM PART  */

.main-ipsum-title {
  width: 826px;
  font-weight: 600;
  font-size: 25px;
  line-height: 46px;
  color: #222;
  margin: auto;
  text-align: center;
  margin-top: 165px;
}

.main-ipsum-text {
  width: 820px;
  line-height: 30px;
  color: #525252;
  margin-top: 32px;
  text-align: center;
  margin: auto;
  margin-top: 24px;
}

.main-ipsum-list {
  justify-content: center;
  list-style-type: none;
}

.main-ipsum-item {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 170px;
  align-items: center;
  margin-top: 100px;
  margin-left: 40px;
}

.main-ipsum-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
}

/* MAIN IPSUM PART END */

/* MAIN SIMPLY PART  */

.main-simply {
  background-color: #f5f5f5;
  margin-top: 133px;
}

.main-simply-head {
  align-items: center;
  padding-top: 69px;
}

.main-simply-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 56px;
  color: #222;
}

.main-simply-text {
  width: 545px;
  line-height: 30px;
  margin-top: 22px;
  color: #525252;
}

.main-simply-btn-part {
  width: 104px;
}

.main-simply-btn {
  width: 40px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
  transform: rotate(-180deg);
  border-radius: 50%;
  padding: 12px 15px;
}

.main-simply-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 65px;
}

.main-simply-item {
  width: 378px;
  height: 348px;
  background-color: #fff;
  box-shadow: 0px 4px 94px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 35px 35px;
  margin-right: 38px;
  margin-bottom: 100px;
}

.main-simply-span {
  border-radius: 8px;
  padding: 7px 35px 7px 14px;
  font-size: 14px;
  line-height: 26px;

}

.main-simply-span-green {
  background-color: rgba(12, 190, 100, 0.15);
  color: #0cbe64;
}

.main-simply-span-blueviolet {
  background-color: rgba(176, 0, 220, 0.11);
  color: #b000dc;
}

.main-simply-span-lightcoral {
  background-color: rgba(220, 0, 0, 0.1);
  color: #dc0000;
}

.main-simply-span-blue {
  background-color: rgba(0, 88, 220, 0.09);
  color: #0058dc;
}

.main-lorem-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 37px;
  color: #000;
  margin-top: 19px;
}

.main-lorem-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #525252;
  margin-top: 16px;
}

.main-simply-link {
  text-decoration: none;
  display: flex;
  justify-content: right;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  color: #dc7000;
  padding-top: 28px;
}

.main-simply-link::after {
  content: '';
  background-image: url('../images/yellow-right-img.svg');
  width: 14px;
  height: 12px;
  display: inline-block;
  background-repeat: no-repeat;
  margin-left: 12px;
}

/* MAIN SIMPLY PART END */

/* Our Recent Projects  */

.main-recent {
  background-color: #fff;
}

.main-recent-title {
  font-weight: 600;
  font-size: 15px;
  line-height: 46px;
  text-align: center;
  color: #222;
  margin-top: 141px;
}

.main-recent-text {
  width: 497px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin: auto;
  color: #525252;
  margin-top: 18px;
}

.main-recent-list {
  list-style-type: none;
  margin-top: 71px;
}

.main-recent-item {
  margin-bottom: 30px;
}

/* Our Recent Projects END  */

/* Lorem Ipsum is simply dummy text dummy text  */

.main-dummy {
  background-color: #fff;
  margin-top: 167px;
}

.main-dummy-main {
  margin-left: 67px;
}

.main-dummy-title {
  font-weight: 500px;
  font-size: 30px;
  line-height: 45px;
  color: #000;
  margin-top: 37px;
  margin-bottom: 25px;
}

.main-dummy-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  color: #515151;
  margin-top: 18px;
}

.main-dummy-link-part {
  margin-top: 46px;
}

.main-dummy-link {
  text-decoration: none;
  background-color: #dc7000;
  padding: 13px 44px;
  color: #fff;
  font-weight: 400;
  line-height: 24px;
}

/* Lorem Ipsum is simply dummy text dummy text  END */

/* Stay in the loop part  */

.main-stay {
  background-color: #fff;
  padding-top: 125px;
}

.main-stay-main {
  background-color: #1b1b1b;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 56px;
  margin-top: 74px;
}

.main-stay-subtitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #fff;
}

.main-stay-desc {
  width: 500px;
  font-size: 17px;
  line-height: 25px;
  color: #fff;
  margin-top: 10px;
}

.main-stay-box {
  width: 385px;
  background-color: #fff;
  border-radius: 8px;
}

.main-stay-email {
  width: 60%;
  border: none;
  margin-left: 15px;
  padding: 14px 0;
}

.main-stay-btn {
  background-color: #dc7000;
  border-radius: 8px;
  padding: 8px 22px;
  border: none;
  color: #fff;
}

/* Stay in the loop part end */
/* MAIN PART END */

/* FOOTER PART  */

.site-footer {
  background-color: #1b1b1b;
  color: #fff;
}

.footer-part {
  margin-top: 65px;
  padding: 65px 0;
}

.footer-main {
  width: 372px;
}

.footer-logo {
  /* margin-top: 65px; */
}

.footer-desc {
  line-height: 24px;
  color: #fff;
  margin-top: 20px;
}

.footer-copright {
  line-height: 24px;
  color: #fff;
  margin-top: 25px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-left: 80px;
}

.footer-list a {
  text-decoration: none;
  color: #fff;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #fff;
  margin-bottom: 10px;
}

.footer-item {
  line-height: 29px;
  color: #fff;
  margin-top: 5px;
}

.footer-item-text {
  width: 282px;
  line-height: 24px;
  color: #fff;
  margin-top: 10px;
}

.footer-social-list {
  width: 198px;
  list-style-type: none;
  margin-top: 116px;
  margin-left: 83px;
}

.footer-social-item {
  background-color: #fff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  background-position: center;
  padding: 10px 12px;
}

.footer-copy {
  font-size: 13px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  padding: 28px 0;
}

/* FOOTER PART END */